<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youthsoccermanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouthSoccerManager">
        <activity android:name=".GameLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" android:parentActivityName=".GameLauncher"></activity>
        <activity android:name=".todaysevents.TodaysEvents" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".calendar.Calendar" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".mails.Mails" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".mails.MailDisplay" android:parentActivityName=".mails.Mails"></activity>
        <activity android:name=".teams.Teams" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".personnelandfinance.PersonnelAndFinance" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".scoutingandtalentdevelopment.ScoutingAndTalentDevelopment" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".stats.Stats" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".settingsandtutorials.SettingsAndTutorials" android:parentActivityName=".MainMenu"></activity>
        <activity android:name=".calendar.CalendarDay" android:parentActivityName=".calendar.Calendar"></activity>
        <activity android:name=".teams.SquadList" android:parentActivityName=".teams.Teams"></activity>
        <activity android:name=".teams.PlayerDisplay" android:parentActivityName=".teams.SquadList"></activity>
        <activity android:name=".mails.MailContacts" android:parentActivityName=".mails.Mails"></activity>
        <activity android:name=".mails.WriteMail" android:parentActivityName=".mails.MailContacts"></activity>
        <activity android:name=".mails.answers.MailAnswerAvailablePlayers" android:parentActivityName=".mails.WriteMail"></activity>
        <activity android:name=".mails.answers.MailAnswerJobOffer" android:parentActivityName=".mails.WriteMail"></activity>
        <activity android:name=".personnelandfinance.personnel.ViewPersonnel" android:parentActivityName=".personnelandfinance.PersonnelAndFinance"></activity>
        <activity android:name=".personnelandfinance.personnel.SignAvailablePersonnel" android:parentActivityName=".personnelandfinance.PersonnelAndFinance"></activity>
        <activity android:name=".personnelandfinance.finance.BankAccount" android:parentActivityName=".personnelandfinance.PersonnelAndFinance"></activity>
        <activity android:name=".personnelandfinance.finance.FinancialDeals" android:parentActivityName=".personnelandfinance.PersonnelAndFinance"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.ScheduleEvent" android:parentActivityName=".scoutingandtalentdevelopment.ScoutingAndTalentDevelopment"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.SelectionData" android:parentActivityName=".scoutingandtalentdevelopment.ScoutingAndTalentDevelopment"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.SendScout" android:parentActivityName=".scoutingandtalentdevelopment.ScoutingAndTalentDevelopment"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.Watchlist" android:parentActivityName=".scoutingandtalentdevelopment.ScoutingAndTalentDevelopment"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.ScoutableLeagues" android:parentActivityName=".scoutingandtalentdevelopment.scouting.SendScout"></activity>
        <activity android:name=".stats.StatsCompSelection" android:parentActivityName=".stats.Stats"></activity>
        <activity android:name=".stats.StatsIntCup" android:parentActivityName=".stats.StatsCompSelection"></activity>
        <activity android:name=".stats.StatsLeague" android:parentActivityName=".stats.StatsCompSelection"></activity>
        <activity android:name=".stats.StatsCup" android:parentActivityName=".stats.StatsCompSelection"></activity>
        <activity android:name=".stats.StatsMyTeam" android:parentActivityName=".stats.StatsCompSelection"></activity>
        <activity android:name=".personnelandfinance.personnel.PersonnelDisplay" android:parentActivityName=".personnelandfinance.PersonnelAndFinance"></activity>
        <activity android:name=".personnelandfinance.personnel.AssignNewPersonnelRole" android:parentActivityName=".personnelandfinance.personnel.PersonnelDisplay"></activity>
        <activity android:name=".personnelandfinance.finance.financialdeals.OtherIncomeSources" android:parentActivityName=".personnelandfinance.finance.FinancialDeals"></activity>
        <activity android:name=".personnelandfinance.finance.financialdeals.AvailableDeals" android:parentActivityName=".personnelandfinance.finance.FinancialDeals"></activity>
        <activity android:name=".personnelandfinance.finance.financialdeals.CurrentDeals" android:parentActivityName=".personnelandfinance.finance.FinancialDeals"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.events.ClubFestivity" android:parentActivityName=".scoutingandtalentdevelopment.scouting.ScheduleEvent"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.events.PublicTryout" android:parentActivityName=".scoutingandtalentdevelopment.scouting.ScheduleEvent"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.events.SpecialTalentGroup" android:parentActivityName=".scoutingandtalentdevelopment.scouting.ScheduleEvent"></activity>
        <activity android:name=".scoutingandtalentdevelopment.scouting.events.TrainingCamp" android:parentActivityName=".scoutingandtalentdevelopment.scouting.ScheduleEvent"></activity>

    </application>

</manifest>